@charset "ISO-8859-1";
body{
    background-color:#9fa8da;
    font-family: serif;
    color:#000;
}
.simple-login-container{
    width:300px;
    max-width:100%;
    margin:70px auto;
}
.simple-login-container h2{
    text-align:left;
}

.simple-login-container .btn-login{
    background-color:#000051;
    size:auto;
    color:#fff;
}


a{
    color:#fff;
}